
.header{
    position: sticky;
    background: rgb(0, 0, 0);
    height: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0rem 0rem 0rem 1rem;
    top: 0px;
    font-size: 21px;
    font-weight: 800;
}

.header div:nth-child(2){

    justify-self: end;
    color: white;
}

.header div:nth-child(2) button{

    color: white;
}

.arrowHeader{

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}