
body{

    padding: 0rem;
    margin: 0rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    max-width: 100%;
    color: rgb(255, 255, 255);

}

button{

    background: none;
    border: none;
}
div,img,section{
    max-width: 100%;
}

*{

    box-sizing: border-box;
}

button, a:hover{

    cursor: pointer;

}
a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: inherit;
}
.app-container{

    background: rgb(21, 32, 43);
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

}
