
body{

    padding: 0rem;
    margin: 0rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    max-width: 100%;
    color: rgb(255, 255, 255);
    overflow-y: scroll;


}

button{

    background: none;
    border: none;
}
div,img,section{
    max-width: 100%;
}

*{

    box-sizing: border-box;
}

button, a:hover{

    cursor: pointer;

}
a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: inherit;
}
.app-container{

    background: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 0.79fr 600px 1fr;
    min-height: 100vh;
    height: 100%;
}

aside{

    width: 350px;
}

.app-main{

    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);

    height: 100%;

    position: relative;


}


.app-main  .tweet , .app-main > div {

    border-bottom: 1px solid rgb(56, 68, 77);


}

.app-main > a:last-child > div{

    border: none;
}



.post-link:hover{

    text-decoration: none;
}